{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Image.name</th>
                <td>{{ product.image.name }}</td>
            </tr>
            <tr>
                <th>Image.originalName</th>
                <td>{{ product.image.originalName }}</td>
            </tr>
            <tr>
                <th>Image.mimeType</th>
                <td>{{ product.image.mimeType }}</td>
            </tr>
            <tr>
                <th>Image.size</th>
                <td>{{ product.image.size }}</td>
            </tr>
            <tr>
                <th>Image.dimensions</th>
                <td>{{ dump(product.image.dimensions) }}</td>
            </tr>
            <tr>
                <th>Current contribution</th>
                <td>{{ product.currentContribution }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(paymentForm, {'action': path('product_contribute', {'id': product.id}), 'method': 'POST'}) }}
        {{ form_widget(paymentForm) }}
        <button class="btn btn-primary">{{ button_label|default('Contribuer') }}</button>
    {{ form_end(paymentForm) }}

    <a href="{{ path('product_index') }}" class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">Editer</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
