{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    <h1>Payment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ payment.amount }}</td>
            </tr>
            <tr>
                <th>Success</th>
                <td>{{ payment.success ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ payment.date ? payment.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ payment.email }}</td>
            </tr>
        </tbody>
    </table>

    <form id="payment-form">
        <div id="card-element"><!--Stripe.js injects the Card Element--></div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay</span>
        </button>
        <p id="card-error" role="alert"></p>
        <p class="result-message hidden">
            Payment succeeded, see the result in your
            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
        </p>
    </form>

    <a href="{{ path('payment_index') }}">back to list</a>

    <a href="{{ path('payment_edit', {'id': payment.id}) }}">edit</a>

    {{ include('payment/_delete_form.html.twig') }}
{% endblock %}
